In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
#!pip install mysql-connector-python sqlalchemy pandas

In [72]:
from sqlalchemy import create_engine
import pandas as pd

# Replace with your actual credentials
username = "root"
password = "saurabh%401818"
host = "localhost"
port = "3306"
database = "churn_project"

engine = create_engine(
    f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}"
)

In [73]:
query = "SELECT * FROM vw_Churndata "
df = pd.read_sql(query, engine)

In [74]:
df.head()

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
0,19877-DEL,Male,35,No,Delhi,7,27,,Yes,No,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,,
1,58353-MAH,Female,45,Yes,Maharashtra,14,13,,Yes,Yes,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,,
2,25063-WES,Male,51,No,West Bengal,4,35,Deal 5,Yes,No,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,59787-KAR,Male,79,No,Karnataka,3,21,Deal 4,Yes,No,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,28544-TAM,Female,80,No,Tamil Nadu,3,8,,Yes,No,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [75]:
# Check empty strings
(df == '').sum()

Customer_ID                       0
Gender                            0
Age                               0
Married                           0
State                             0
Number_of_Referrals               0
Tenure_in_Months                  0
Value_Deal                     3297
Phone_Service                     0
Multiple_Lines                  590
Internet_Service                  0
Internet_Type                  1223
Online_Security                1223
Online_Backup                  1223
Device_Protection_Plan         1223
Premium_Support                1223
Streaming_TV                   1223
Streaming_Movies               1223
Streaming_Music                1223
Unlimited_Data                 1223
Contract                          0
Paperless_Billing                 0
Payment_Method                    0
Monthly_Charge                    0
Total_Charges                     0
Total_Refunds                     0
Total_Extra_Data_Charges          0
Total_Long_Distance_Charges       0
Total_Revenue                     0
Customer_Status                   0
Churn_Category                 4275
Churn_Reason                   4275
dtype: int64

In [76]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [77]:
df.isnull().sum()[df.isnull().sum() > 0]

Value_Deal                3297
Multiple_Lines             590
Internet_Type             1223
Online_Security           1223
Online_Backup             1223
Device_Protection_Plan    1223
Premium_Support           1223
Streaming_TV              1223
Streaming_Movies          1223
Streaming_Music           1223
Unlimited_Data            1223
Churn_Category            4275
Churn_Reason              4275
dtype: int64

In [78]:
df['Value_Deal'] = df['Value_Deal'].fillna('None')
df['Multiple_Lines'] = df['Multiple_Lines'].fillna('No')
df['Internet_Type'] = df['Internet_Type'].fillna('None')
df['Online_Security'] = df['Online_Security'].fillna('No')
df['Online_Backup'] = df['Online_Backup'].fillna('No')
df['Device_Protection_Plan'] = df['Device_Protection_Plan'].fillna('No')
df['Premium_Support'] = df['Premium_Support'].fillna('No')
df['Streaming_TV'] = df['Streaming_TV'].fillna('No')
df['Streaming_Movies'] = df['Streaming_Movies'].fillna('No')
df['Streaming_Music'] = df['Streaming_Music'].fillna('No')
df['Unlimited_Data'] = df['Unlimited_Data'].fillna('No')
df['Churn_Category'] = df['Churn_Category'].fillna('Others')
df['Churn_Reason'] = df['Churn_Reason'].fillna('Others')

In [79]:
df.head()

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
0,19877-DEL,Male,35,No,Delhi,7,27,None,Yes,No,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,Others,Others
1,58353-MAH,Female,45,Yes,Maharashtra,14,13,None,Yes,Yes,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,Others,Others
2,25063-WES,Male,51,No,West Bengal,4,35,Deal 5,Yes,No,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,59787-KAR,Male,79,No,Karnataka,3,21,Deal 4,Yes,No,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,28544-TAM,Female,80,No,Tamil Nadu,3,8,None,Yes,No,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [80]:
df.isnull().sum()[df.isnull().sum()>0]

Series([], dtype: int64)

In [81]:
# Drop unneccsary columns
df = df.drop(["Customer_ID","Churn_Category","Churn_Reason"],axis=1)

In [82]:
df.select_dtypes(include="object").columns

Index(['Gender', 'Married', 'State', 'Value_Deal', 'Phone_Service',
       'Multiple_Lines', 'Internet_Service', 'Internet_Type',
       'Online_Security', 'Online_Backup', 'Device_Protection_Plan',
       'Premium_Support', 'Streaming_TV', 'Streaming_Movies',
       'Streaming_Music', 'Unlimited_Data', 'Contract', 'Paperless_Billing',
       'Payment_Method', 'Customer_Status'],
      dtype='object')

In [83]:
cat_cols = df.select_dtypes(include='object').columns

In [154]:
from sklearn.preprocessing import LabelEncoder
for col in cat_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

In [156]:
df.head()

,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,Internet_Service,...,Contract,Paperless_Billing,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status
0,1,35,0,4,7,27,5,1,0,1,...,1,1,1,65.6,593.30,0.00,0,381.51,974.81,1
1,0,45,1,12,14,13,5,1,1,1,...,0,0,1,-4.0,542.40,38.33,10,96.21,610.28,1
2,1,51,0,21,4,35,4,1,0,1,...,0,1,0,73.9,280.85,0.00,0,134.60,415.45,0
3,1,79,0,9,3,21,3,1,0,1,...,0,1,0,98.0,1237.85,0.00,0,361.66,1599.51,0
4,0,80,0,17,3,8,5,1,0,1,...,0,1,1,83.9,267.40,0.00,0,22.14,289.54,0

In [157]:
df['Customer_Status'] = df['Customer_Status'].replace({0: 1, 1: 0})

In [158]:
df.head()

,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,Internet_Service,...,Contract,Paperless_Billing,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status
0,1,35,0,4,7,27,5,1,0,1,...,1,1,1,65.6,593.30,0.00,0,381.51,974.81,0
1,0,45,1,12,14,13,5,1,1,1,...,0,0,1,-4.0,542.40,38.33,10,96.21,610.28,0
2,1,51,0,21,4,35,4,1,0,1,...,0,1,0,73.9,280.85,0.00,0,134.60,415.45,1
3,1,79,0,9,3,21,3,1,0,1,...,0,1,0,98.0,1237.85,0.00,0,361.66,1599.51,1
4,0,80,0,17,3,8,5,1,0,1,...,0,1,1,83.9,267.40,0.00,0,22.14,289.54,1

In [159]:
# split data into feature and output
x= df.iloc[::,0:-1]
y = df.iloc[::,-1]

In [160]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [161]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)

In [162]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [163]:
pred_test = rf.predict(x_test)

In [164]:
from sklearn.metrics import confusion_matrix

In [165]:
cm = confusion_matrix(pred_test,y_test)

In [166]:
cm

array([[788, 135],
       [ 53, 226]])

In [167]:
from sklearn.metrics import accuracy_score,recall_score,precision_score,f1_score

In [168]:
accuracy_score(pred_test,y_test)

0.8435940099833611

In [169]:
recall_score(pred_test,y_test)

0.8100358422939068

In [170]:
precision_score(pred_test,y_test)

0.6260387811634349

In [171]:
f1_score(pred_test,y_test)

0.70625

In [172]:
#Use the model for prediction on new data

In [173]:
query = "SELECT * FROM vw_Joindata "
df1 = pd.read_sql(query, engine)

In [174]:
df1.head()

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason
0,93520-GUJ,Female,67,No,Gujarat,13,19,Deal 5,Yes,Yes,...,Bank Withdrawal,72.10,72.1,0.0,0,7.77,79.87,Joined,,
1,57256-BIH,Female,18,No,Bihar,9,7,,Yes,No,...,Credit Card,19.85,57.2,0.0,0,9.36,66.56,Joined,,
2,72357-MAD,Female,53,No,Madhya Pradesh,14,12,Deal 5,Yes,No,...,Credit Card,44.30,44.3,0.0,0,42.95,87.25,Joined,,
3,66612-KAR,Female,58,Yes,Karnataka,11,18,,Yes,No,...,Credit Card,19.95,58.0,0.0,0,8.07,66.07,Joined,,
4,22119-WES,Male,31,Yes,West Bengal,5,5,,Yes,No,...,Credit Card,20.05,33.7,0.0,0,3.62,37.32,Joined,,

In [175]:
(df1 == '').sum()

Customer_ID                      0
Gender                           0
Age                              0
Married                          0
State                            0
Number_of_Referrals              0
Tenure_in_Months                 0
Value_Deal                     251
Phone_Service                    0
Multiple_Lines                  32
Internet_Service                 0
Internet_Type                  167
Online_Security                167
Online_Backup                  167
Device_Protection_Plan         167
Premium_Support                167
Streaming_TV                   167
Streaming_Movies               167
Streaming_Music                167
Unlimited_Data                 167
Contract                         0
Paperless_Billing                0
Payment_Method                   0
Monthly_Charge                   0
Total_Charges                    0
Total_Refunds                    0
Total_Extra_Data_Charges         0
Total_Long_Distance_Charges      0
Total_Revenue                    0
Customer_Status                  0
Churn_Category                 411
Churn_Reason                   411
dtype: int64

In [176]:
df1.replace(r'^\s*$', np.nan, regex=True, inplace=True)

C:\Users\saura\AppData\Local\Temp\ipykernel_22288\3693590240.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [177]:
df1.isnull().sum()[df1.isnull().sum() > 0]

Value_Deal                251
Multiple_Lines             32
Internet_Type             167
Online_Security           167
Online_Backup             167
Device_Protection_Plan    167
Premium_Support           167
Streaming_TV              167
Streaming_Movies          167
Streaming_Music           167
Unlimited_Data            167
Churn_Category            411
Churn_Reason              411
dtype: int64

In [178]:
df1['Value_Deal'] = df1['Value_Deal'].fillna('None')
df1['Multiple_Lines'] = df1['Multiple_Lines'].fillna('No')
df1['Internet_Type'] = df1['Internet_Type'].fillna('None')
df1['Online_Security'] = df1['Online_Security'].fillna('No')
df1['Online_Backup'] = df1['Online_Backup'].fillna('No')
df1['Device_Protection_Plan'] = df1['Device_Protection_Plan'].fillna('No')
df1['Premium_Support'] = df1['Premium_Support'].fillna('No')
df1['Streaming_TV'] = df1['Streaming_TV'].fillna('No')
df1['Streaming_Movies'] = df1['Streaming_Movies'].fillna('No')
df1['Streaming_Music'] = df1['Streaming_Music'].fillna('No')
df1['Unlimited_Data'] = df1['Unlimited_Data'].fillna('No')
df1['Churn_Category'] = df1['Churn_Category'].fillna('Others')
df1['Churn_Reason'] = df1['Churn_Reason'].fillna('Others')

In [179]:
df1.isnull().sum()[df1.isnull().sum() > 0]

Series([], dtype: int64)

In [180]:
original_data = df1.copy()

In [181]:
df1 = df1.drop(["Customer_ID","Churn_Category","Churn_Reason","Customer_Status"],axis=1)

In [182]:
col_to = df1.select_dtypes(include="object").columns

In [183]:
col_to

Index(['Gender', 'Married', 'State', 'Value_Deal', 'Phone_Service',
       'Multiple_Lines', 'Internet_Service', 'Internet_Type',
       'Online_Security', 'Online_Backup', 'Device_Protection_Plan',
       'Premium_Support', 'Streaming_TV', 'Streaming_Movies',
       'Streaming_Music', 'Unlimited_Data', 'Contract', 'Paperless_Billing',
       'Payment_Method'],
      dtype='object')

In [184]:
for col in col_to:
    df1[col] = le.fit_transform(df1[col])

In [185]:
df1.head()

,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,Internet_Service,...,Unlimited_Data,Contract,Paperless_Billing,Payment_Method,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue
0,0,67,0,5,13,19,0,1,1,1,...,1,1,1,0,72.10,72.1,0.0,0,7.77,79.87
1,0,18,0,2,9,7,1,1,0,0,...,0,0,0,1,19.85,57.2,0.0,0,9.36,66.56
2,0,53,0,11,14,12,0,1,0,1,...,1,0,1,1,44.30,44.3,0.0,0,42.95,87.25
3,0,58,1,9,11,18,1,1,0,0,...,0,0,0,1,19.95,58.0,0.0,0,8.07,66.07
4,1,31,1,21,5,5,1,1,0,0,...,0,0,0,1,20.05,33.7,0.0,0,3.62,37.32

In [186]:
new_prediction = rf.predict(df1)

In [187]:
original_data["Customer_status_prediction"] = new_prediction

In [188]:
original_data.head()

,Customer_ID,Gender,Age,Married,State,Number_of_Referrals,Tenure_in_Months,Value_Deal,Phone_Service,Multiple_Lines,...,Monthly_Charge,Total_Charges,Total_Refunds,Total_Extra_Data_Charges,Total_Long_Distance_Charges,Total_Revenue,Customer_Status,Churn_Category,Churn_Reason,Customer_status_prediction
0,93520-GUJ,Female,67,No,Gujarat,13,19,Deal 5,Yes,Yes,...,72.10,72.1,0.0,0,7.77,79.87,Joined,Others,Others,0
1,57256-BIH,Female,18,No,Bihar,9,7,None,Yes,No,...,19.85,57.2,0.0,0,9.36,66.56,Joined,Others,Others,1
2,72357-MAD,Female,53,No,Madhya Pradesh,14,12,Deal 5,Yes,No,...,44.30,44.3,0.0,0,42.95,87.25,Joined,Others,Others,1
3,66612-KAR,Female,58,Yes,Karnataka,11,18,None,Yes,No,...,19.95,58.0,0.0,0,8.07,66.07,Joined,Others,Others,1
4,22119-WES,Male,31,Yes,West Bengal,5,5,None,Yes,No,...,20.05,33.7,0.0,0,3.62,37.32,Joined,Others,Others,1

In [189]:
original_data = original_data[original_data["Customer_status_prediction"]==1]

In [190]:
original_data.to_csv(r"C:\Users\saura\Saurabh\Desktop\Power Bi\prediction_data.csv")